
#cardDeck {
  margin: auto;
}
#card {
  display: inline-block;
  background-color: lightgreen;
  width: 100px;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

#scoreFact {
  font-size: 10pt;
  font-style: italic;
}
